         python app.py
        .pip install flask opencv-python-headless cvzone numpy
        .pip install mediapipe
        .pip install tensorflow
        .pip list  - to check all the packages installed in project
        
