<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesture Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="feedback.html">Feedback</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Welcome to Gesture Translator</h1>
            <div>
                <h3>Click below to begin translation</h3>
                <br/>
                <a href="backend.html"><button><span></span>Camera</button></a>
            </div>
            
            <h2 id="sentence"></h2>
        </div>
    </div>

</body>
</html>














































































<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesture Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="feedback.html">Feedback</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Welcome to Gesture Translator</h1>
            <div>
                <a href="about.html"><button><span></span>Sign Gestures</button></a>
                <a href="backend.html"><button><span></span>Backend Code</button></a>
            </div>
           
            <h2 id="sentence"></h2>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html> -->

